<ul class="list-group">
    <li class="list-inline-item m-3">
        <a class="btn btn-outline-success">Crear Producto</a>
    </li>
    <li class="list-inline-item m-3">
        <a class="btn btn-outline-success">Listar Productos</a>
    </li>
</ul>